header {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  color: rgb(150, 150, 150);
  justify-content: space-between;
  background-color: rgb(240, 241, 241);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 80px;
  width: 900px;
  height: 60px;
}

img {
  /* border: 2px solid black; */
  width: 120px;
  height: 60px;
  margin: 0;
}

div {
  /* border: 2px solid green; */
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  /* border: 2px solid blue; */
  width: 70px;
  height: 30px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 5px;
  /* border-color: rgb(150, 150, 150); */
  margin: 10px;
  color: rgb(150, 150, 150);
}

button,
header:hover {
  background-color: #676767;
  color: #ececec;
  cursor: pointer;
}
